<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSWorldSensingUsageDescription</key>
	<string>This app uses world sensing to render overlays on the world around you</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to react to audio in your environment</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to place effects in your environment</string>
	<key>NSHandsTrackingUsageDescription</key>
	<string>This app tracks your hands to allow interaction with audio visualizations</string>
	<key>NSAudioSpatialCapturePolicyUsageDescription</key>
	<string>This app uses spatial audio information to provide immersive visualizations</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UISceneSessionRoleImmersiveSpaceApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
